
body {
	margin: 0;
	padding: 0;
	background: #30891B url(images/img01.png) repeat;
	font-family: 'Abel', sans-serif;
	font-size: 15px;
	color: snow;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	
	font-family: 'Abel', sans-serif;
	font-weight: 200;
	color: snow;
}

h2 p{
        margin: 100px;
	padding: 10px;
        
}

p, ol, ul {
	margin: 0px;
	padding: 0px;
}

p, ol {
	line-height: 180%;
}

a {
	color: snow;
}



/* Menu */
#menu1 {
	float: left;
	width: 1000px;
	height: 100px;
}
#menu1 ul {
	float: right;
	margin: 0;
	padding: 40px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu1 li {
	float: left;
}


#menu1 a {
	display: block;
	margin-left: 2px;
	padding: 10px 30px 10px 30px;
	word-spacing:normal;
	text-decoration: none;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #FFE1EF;
	letter-spacing: 4px;
}


#menu1 .current_page_item a {
	background: #237211;
	color: #FFE1EF;
	font-size: x-large;
}

/* Button Style */

.button-style {
	display: inline-block;
	margin-top: 30px;
	padding: 7px 30px;
	background: #237211;
	border-radius: 5px;
	color: snow;
}





/*table*/
table
{
	
	border:#0d6db6;
}

label a
{
	font: italic;
	font-weight: 600;
	float: left;
	color: snow;
}

#title
{
	width: 400px;
	height: 60px;
	margin-top: 100px;
	padding: 0px;
	text-align: center;
	color: snow;
}


#context
{
	font-size: large;
	padding-left: 250px;
	padding-top: 140px;
	color: snow;
	
}
#context .button
{
	padding-left:120px;
	
}

#legend
{
	width: 820px; 
	height: 50px;
}

#center
{
	
	text-indent: 35%;
}


	

